.main-section {
	padding: 10px;
  }
  
  header {
	padding: 10px 0 20px 0;
  }
  
  .theme-dropdown {
	max-width: 150px;
	margin: auto;
	color: #000;
  }
  
  .theme-dropdown span {
	display: block;
	margin: 0 0 5px 0;
  }
  
  .content p {
	padding: 10px;
  }